# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
.gitignore
*.log*
node_modules/
package-lock.json
coverage/

# Папка с собранными файлами проекта
build/
public/bundle*
